body{
    background-color: #E0DDCF;

}

img{
    width: 100px;
    height: 100px;
}
.homeImg img{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.homeTextandBt{
    text-align: center;    
}
#prompt {
    text-align: center;
}
.homeButtons{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}