<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Content for Add Page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter Homework Name" name="Name" required>
                </div>
                <div class="form-group">
                    <label for="subjectTextField">Subject</label>
                    <input type="text" class="form-control" id="subjectTextField" placeholder="Enter Subject" name="Subject" required>
                </div>
                <div class="form-group">
                    <label for="dateTextField">Due Date</label>
                    <input type="text" class="form-control" id="dateTextField" placeholder="Enter Due Date" name="Date" required>
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea type="text" class="form-control" id="descriptionTextArea"  placeholder="Enter Description" name="Description" required></textarea>
                </div>
                <button class="btn btn-success" type="submit">Submit <i class="fa-solid fa-check"></i></button>  
                <a href="/homeworklist" class="btn btn-warning">Cancel <i class="fa-solid fa-ban"></i></a>   
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>